
.service-section,
.statis-section {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.doc-logo {

    width: 40px;
    height: 40px;


}

.service-section,
.statis-section {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.doc-logo {

    width: 40px;
    height: 40px;


}

.slogan-text {
    margin-top: 15px;
    color: #25b3a0;
    font-size:30px;
    font-weight: 100;
    font-family: serif
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}




#service-div,
#desc-div,
#company-brands {
    flex-direction: row;
    justify-content: center;
}


.slogan-text {
    margin-top: 15px;
    color: #25b3a0;
    font-size:30px;
    font-weight: 100;
    font-family: serif
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.description-container {
    width: 478px;
    height: 112px;
    line-height: 1.75;
    margin: 25px;
    white-space: normal;
}

.patient-div {
    width: 478px;
    height: 391px;
    max-width: 478px;
    max-height: 391px;
    border-radius: 10px;
    background-color: #00ccb1;
    white-space: normal;
    overflow: hidden;


}

.division-title {
    color: #fff;
    font-size: 25px;
    font-family: serif;
    font-weight: 50;
    margin-left: 40px;
   
}

.division-desc {
    color: #fff;
    font-size: 27px;
    padding-left: 25px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.statis-section {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}


.container {
    display: flex;
    flex-direction: column;
}


.statis-section {
    background-color:#e5faf8;
    height: 600px;
    width: 100%;
    flex-direction: row;


}

#upstat-div {
    margin-top: 50px;
    width: 50%;
    align-items: center;


}

#statis-slogan {
    font-size: 2.2em;
}

.statis-desc {
    font-size: .875em;
    font-weight: 400;
    padding: 13px 129px;
}

.ddplogo-statis {
    height: 382px;
    width: 440px;
    margin-top: 25px;
}


.box {
    background-color: #fff;
    width: 228px;
    height: 250px;
    border-radius: 5px;
    margin-top: 31px;
    text-align: center;
}

.box img {
    margin-top: 13%;
    width: 40px;
}

.land-desc {
    padding: 0%;
    font-size: 13px;
}

.rd-title {
    font-size: 20px;
}

.box-neighb {
    margin-left: 25px;
    margin-top: 15px;
}

.text-div {
    font-size: .875em;
    line-height: 1.7;

}

.big-logo{
    width: 500px;
    height: 500px;
}


.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin: 0% 13% 9%;
}

.wrapper {
    width: 309px;
    height: 345px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin: 0 10px;
}

.wrapper img {
    width: 309px;
    height: 278px;

}

.city-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin: 5%;
}

.seemore-btn {

    border: 0;
    border-radius: 4px;
    padding: 10px 10px;
    margin-left: 29%;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
}